In [24]:
import glob
import pandas as pd

In [25]:
dicts = []
for fi in glob.glob('raw_dataset/*/ham/*.txt'):
#     print(fi)
    with open(fi, 'r', encoding='utf-8',errors='ignore') as f:
        string = f.read()
    d = {'text': string, 'label': 0}
    dicts.append(d)
ham_df = pd.DataFrame(data=dicts)

dicts = []
for fi in glob.glob('raw_dataset/*/spam/*.txt'):
#     print(fi)
    with open(fi, 'r', encoding='utf-8',errors='ignore') as f:
        string = f.read()
    d = {'text': string, 'label': 1}
    dicts.append(d)
spam_df = pd.DataFrame(data=dicts)

In [26]:
ham_df

                                                    text  label
0                Subject: christmas tree farm pictures\n      0
1      Subject: vastar resources , inc .\ngary , prod...      0
2      Subject: calpine daily gas nomination\n- calpi...      0
3      Subject: re : issue\nfyi - see note below - al...      0
4      Subject: meter 7268 nov allocation\nfyi .\n- -...      0
...                                                  ...    ...
16540  Subject: tw weekend scheduled volumes\nmarch 2...      0
16541  Subject: fw : re ivanhoe e . s . d\nfyi , kim ...      0
16542  Subject: fw : abandoned pipe ownership\nfyi , ...      0
16543  Subject: fw : tw question in amarillo\nfyi , k...      0
16544  Subject: fw : re ivanhoe e . s . d\nfyi , kim ...      0

[16545 rows x 2 columns]

In [27]:
spam_df

                                                    text  label
0      Subject: dobmeos with hgh my energy level has ...      1
1      Subject: your prescription is ready . . oxwq s...      1
2      Subject: get that new car 8434\npeople nowthe ...      1
3      Subject: await your response\ndear partner ,\n...      1
4      Subject: coca cola , mbna america , nascar par...      1
...                                                  ...    ...
17165  Subject: = ? iso - 8859 - 1 ? q ? good _ news ...      1
17166  Subject: all prescript medicines are on specia...      1
17167  Subject: the next generation online pharmacy ....      1
17168  Subject: bloow in 5 - 10 times the time\nlearn...      1
17169  Subject: dear sir , i am interested in it\nhi ...      1

[17170 rows x 2 columns]

In [28]:
ham_df.to_csv('hams.csv', index=False)
spam_df.to_csv('spams.csv', index=False)